/* CSS file for Kim's Salon website */
body {
    background-color: aliceblue;
    color: black;
    font-family: 'Alegreya Sans',Arial, sans-serif;
    position: relative;
    margin-left: 0;
  }
  
  html {
    --top-spacing: 150px;
    scroll-padding-top: var(--top-spacing);

    margin-left: 0;
  }
  
  h1 {
    margin: 0;
  }

  h2 {
    color: black;
  }

  h4 {
    display: inline;
  }
  
.navbar {
  position: sticky;
  color: red;
  top: 0;
  width:100%;
  text-align: center;
  background-color: beige;
  padding-top: 20px;
  padding-bottom: 20px;
  scroll-padding-top: 120px;
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: red;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    margin: 20px;
  }


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li h3 {
    margin-top: 20px;
  }
  
  li p {
    margin-bottom: 20px;
  }

  #appointments {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .apt-table{
    width:80%;
  }

  .apt-table th {
    padding: 10px;
    text-align: left;
  }

  .apt-table a {
    text-decoration: none;
  }

  .apt-box {
    width: 70%;
    height: 10px;
    margin: 0px 50px auto auto;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  
  .apt-box-nolink {
    width: 70%;
    height: 10px;
    margin: 0px 50px auto auto;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  #services {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .services-table{
    width: 60%;
    border-collapse: collapse;
  }

  #about {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .about-style {
    display:flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
  }

  #about-img {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  } 

  #gallery {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    gap: 3rem;
    padding: 10px;
    width: 80%;
  }


  #reviews {
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #review-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
  } 

  .stars{
    color: rgb(221, 221, 39);
  }

  th a {
    display: block;
    width:100%;
  }



  .price-table th {
    padding: 10px;
    text-align: left;
  }

  .price-table td {
    padding: 10px;
    text-align: center;
  }

  #biz-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #address {
    font-size: 16px;
    text-align: left;
    padding-right: 20px;
    height: 20px;
  }

  .box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .center-text{
    text-align: center;
  }

  .responsive {
    padding: 0 20px;
    width: 100%;
  }

  #hours {
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
  }

  #phone-hours {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  #phone-hours p {
    margin:0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .desc {
    width: 100%;
  }

  #text3d{
    color: red;
    font-size: 50px;
    letter-spacing: .01em;
    text-decoration: none;
    text-shadow: 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 2px 0px rgba(0, 0, 0, 0.8);
  }

  #apt-services {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #center {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }

  .phone-number-red {
    color: red;
    text-decoration: none;
  }
 
  footer {
    background-color: beige;
    color: red;
    padding: 20px;
    text-align: center;
  }

  .phone-number{
    text-decoration: none;
    color: black;
  }

  .phone-box {
    width: 270px;
    height: 50px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    cursor: pointer; /* optional */
  }
  
  .phone-number {
    margin: 0;
    padding: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 400px;
    height: 40px;
    margin: 20px;
    background-color: white; /* white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .box-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 250px;
    height: 25px;
    margin: 50px 0px;
    background-color: yellow; /* yellow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .padding-updown {
    padding: 10px;
  }

  @media screen and (max-width: 320px){
    html, body{
      margin: auto;
    }

    #reviews{
      padding: 0;
    }
  }

  @media screen and (max-width: 375px){
    html, body{
      margin: auto;
    }

    #reviews{
      padding: 0;
    }

    #gallery {
      margin: auto;
    }

  }

  @media screen and (max-width: 448px){
    html, body{
      margin: auto;
    }

    #reviews{
      padding: 0;
    }

    #gallery {
      margin: auto;
    }
  }

  @media screen and (max-width: 641px) {

    table {
      margin-left: auto;
      margin-right: auto;
    }
    .apt-table{
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .apt-table col {
      width:220px;
    }
    #biz-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .phone-box {
      margin-left: auto;
      margin-right: auto;
    }

  }

  @media screen and (max-width: 768px) {
    .services-table{
      width:60%;
    }
  }

  @media screen and (max-width: 1024px) {
    #apt-services {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
     #services {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
  }

  @media screen and (max-width: 1440px) {
    #apt-services {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
     #services {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
  }

  @media screen and (max-width: 2560px) {
    #apt-services {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
     #services {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
  }
